[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/simpler-env/ManiSkill2_real2sim
[submodule "third_party/rdt"]
	path = third_party/rdt
	url = git@github.com:gen-robot/RoboticsDiffusionTransformer.git
[submodule "third_party/openvla"]
	path = third_party/openvla
	url = git@github.com:gen-robot/openvla.git
[submodule "ManiSkill"]
	path = ManiSkill
	url = git@github.com:gen-robot/ManiSkill.git
