[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/simpler-env/ManiSkill2_real2sim
[submodule "third_party/rdt"]
	path = third_party/rdt
	url = git@github.com:gen-robot/RoboticsDiffusionTransformer.git
