[submodule "third_party/rdt"]
	path = third_party/rdt
	url = git@github.com:gen-robot/RoboticsDiffusionTransformer.git
[submodule "third_party/openvla"]
	path = third_party/openvla
	url = git@github.com:gen-robot/openvla.git
[submodule "ManiSkill"]
	path = ManiSkill
	url = git@github.com:gen-robot/ManiSkill.git
[submodule "third_party/octo"]
	path = third_party/octo
	url = git@github.com:gen-robot/octo.git
[submodule "third_party/dppo"]
	path = third_party/dppo
	url = git@github.com:pancake-w/dppo.git
